[2016-10-26 09:26] TheGrandVizier opened #1 "Instagram link on main page is not correct"
_From @TheGrandVizier on August 1, 2016 8:16_

The Instagram link on the main page leads to an incorrect URL.
Currently it leads here:
https://www.instagram.com/museumofthejewishpeople/

_Copied from original issue: Beit-Hatfutsot/main-site#1_

[2016-10-26 09:26] TheGrandVizier commented on #1
_From @Gupo on August 1, 2016 8:40_

@nirgoldberg Danna has the correct URL and will replace it.

[2016-10-26 09:26] TheGrandVizier commented on #1
_From @nirgoldberg on August 8, 2016 9:13_

@TheGrandVizier Please assign to Libi or Danna

[2016-10-26 09:26] TheGrandVizier opened #2 "Explorer problem when ordering tickets"
_From @TheGrandVizier on August 2, 2016 7:12_

When clicking "Order tickets" in explorer (windows 7),
The ticketnet window opens correctly, but the main site window turns into this:
http://prntscr.com/c0jamh

a white page with the word "object".
This does not prevent people from ordering tickets.

_Copied from original issue: Beit-Hatfutsot/main-site#2_

[2016-10-26 09:26] TheGrandVizier commented on #2
_From @nirgoldberg on August 8, 2016 10:2_

Fixed for event pages (auto generated purchase buttons)

[2016-10-26 09:26] TheGrandVizier opened #3 "RTL - LTR problem when removing items from cart"
_From @TheGrandVizier on August 2, 2016 10:49_

See this screenshot:
http://prntscr.com/c0lon2

When removing items from cart the english and hebrew elements get mixed together.

_Copied from original issue: Beit-Hatfutsot/main-site#3_

[2016-10-26 09:27] TheGrandVizier opened #4 "Link to test.dbs.bh.org.il at top label leads to bad URL"
_From @TheGrandVizier on August 2, 2016 10:57_

The link tot eh DB site leads to dbs.test.bh.org.il
Should like to test.dbs.org.il

_Copied from original issue: Beit-Hatfutsot/main-site#4_

[2016-10-26 09:27] TheGrandVizier opened #5 "Heberw event categries are not displayed"
_From @TheGrandVizier on August 8, 2016 10:56_

Event categories in the hebrew language are not displayed, even though the english one are displayed correctly.

This causes a dissonance when changing languages on this page and prevents hebrew speaking users from browsing the events in the museum.

_Copied from original issue: Beit-Hatfutsot/main-site#5_

[2016-10-26 09:34] #1 closed

[2016-10-26 09:34] #2 closed

[2016-10-26 09:34] #3 closed

[2016-10-26 09:34] #4 closed

[2016-10-26 09:34] #5 closed

[2017-02-16 12:51] TheGrandVizier opened #6 "Change "MY STORY" tab to read "Open Databases""
The red tab on bh.org.il should look the same as it does in the open databases site:
dbs.bh.org.il

@Netush please provide the assets

[2017-02-16 13:02] Netush commented on #6
Link to The SVG files:
https://www.dropbox.com/sh/8r5m3h10m0qoqxj/AAAMG7jVCEh-_VOhbDjl191-a?dl=0

Look for this two files:
Icon_OpenData-Eng-S.svg
Icon_OpenData-Heb-S.svg

Here is Sketch:
https://projects.invisionapp.com/boards/2M2YO06NRT94F/

[2017-03-05 11:25] TheGrandVizier opened #7 "Wrong font on home page"
The home page, at one point, uses Arial, which is the incorrect font.
The correct font should be Open Sans.

![image001](https://cloud.githubusercontent.com/assets/15191989/23586871/364fe2ce-01a7-11e7-8635-77c6f3a72a48.jpg)

[2017-03-14 12:59] TheGrandVizier opened #8 "Password for test environment"
We need a password for test environment. Users should not be able to penetrate our testing environment.
It should take from any page no test.bh.org.il.

[2017-03-14 12:59] TheGrandVizier opened #9 "Dont expose test.bh.org.il to google"
Results from test.bh.org.il should NEVER be shown on google.

Currently google displays plenty of results for test.bh.org.il/shop pages.

[2017-03-14 13:58] nirgoldberg commented on #8
I strongly recommend to remove completely the sub-domain A-record from our domain zone.
For our internal use, we might change hosts file locally.

[2017-03-14 14:01] nirgoldberg commented on #9
Please refer to my previous comment at #8 .

[2017-03-15 11:29] nuritgazit opened #10 "Re-direct pages from bh.org.il to dbs.bh.org.il"
once [this task](https://github.com/Beit-Hatfutsot/dbs-front/issues/324) is done, these pages on bh.org.il:
[Hebrew](http://www.bh.org.il/he/%D7%9E%D7%90%D7%92%D7%A8%D7%99%D7%9D-%D7%95%D7%90%D7%95%D7%A1%D7%A4%D7%99%D7%9D/%D7%A9%D7%9E%D7%95%D7%AA-%D7%9E%D7%A9%D7%A4%D7%97%D7%94/%D7%9E%D7%90%D7%92%D7%A8-%D7%A9%D7%9E%D7%95%D7%AA-%D7%94%D7%9E%D7%A9%D7%A4%D7%97%D7%94-%D7%9E%D7%91%D7%95%D7%90/)
[English]

[2017-03-15 12:27] #6 closed

[2017-03-15 12:29] #7 closed

[2017-03-15 12:34] TheGrandVizier commented on #10
Need:

- 301 redirect from google
- Reassign side bar destination to DBS site parallel

[2017-03-22 11:27] TheGrandVizier opened #11 "wp_config definitions"
- [ ] Remove wp_lang (already handled in WordPress Admin)
- [ ] Enable wp_debug (Staging: screen & log ; Live: log)
- [ ] Set wp_memory_limit to default (use high value for specific manual activities)
- [ ] Modify tables prefix

[2017-03-22 11:32] TheGrandVizier opened #12 "[Optimization] Upgrade jQuery to version 2.x"

[2017-03-22 11:34] TheGrandVizier opened #13 "HTTP/S Protocol (for all sites)"
We need to have SSL for the entire site, shop and CMS.

- [x] Redirect on the http server level
- [x] Update admin accordingly
- [x] Find and replace http to https

[2017-03-22 11:42] TheGrandVizier opened #14 "CDN (Cloudflare)"
Once SSL is active, we shold start using a CDN for all static assets: JS, CSS, Images.

[2017-03-22 11:43] TheGrandVizier opened #15 "Multi Environment Support"
Create an architecture that will allow us to use different configurations for different environments: test and live.
Any kind of a distinction would do, but the more the merrier. Requires designing.

[2017-03-22 11:45] TheGrandVizier opened #16 "[Operational] Purim Site migration to BH server (not designated)"

[2017-03-22 11:46] TheGrandVizier opened #17 "World Purim Album FB app"
Migrate all calls to Graph API v2.2 or higher.
This is required in order to retain support for FB login.

[2017-03-22 12:09] TheGrandVizier opened #18 "Synagogue Gallery Prayer Email"
When sending an email with personal prayer, add this text:

ניתן להשתמש בטקסט שנשלח אליך לשימוש אישי בלבד, בכפוף לחוק זכויות יוצרים.
Text sent to you is for your personal use only and is subject to copyright law.

[2017-03-22 12:12] TheGrandVizier opened #19 "Donation pages"
- [x] Find solution for annual donation in FBH new page/donation form

This page does not currently exists and needs to be created in-line with the template.

- [x] Needs to have a pelecard iframe
- [x] Needs to support annual recurring payment

https://projects.invisionapp.com/d/main#/projects/prototypes/10056886

[2017-03-22 12:23] TheGrandVizier opened #20 "Add year indicator to event start / end dates"
We do not currently display the date compeltely. The years are currently designated by 2 digits or no indicator of year at all.
We need to have a year in **all** dates

[2017-03-22 12:24] TheGrandVizier opened #21 "Real Time Parking info"
- [ ] Receive NDA and sign
- [ ] Get user password
- [ ] Estimate scope of work
- [ ] Prioritize

@nuritgazit  do you know where this stands? Seems to be old.

[2017-03-22 12:26] TheGrandVizier opened #22 "Nobelist - Google Tag Manager"
על מנת להתחיל את תהליך המדידה באתר נטמיע קודם כל תג מנג'ר.
לאחר מכן נראה אלו קודים נוספים נצטרך להטמיע.

1.
להטמיע את הקוד הנ"ל הכי גבוה שאפשר בחלק של HEAD

<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.co

[2017-03-22 12:30] TheGrandVizier opened #23 "Separate Exhibitions and Events"
Needs design for hebrew and english

temporary:
![menu](https://cloud.githubusercontent.com/assets/15191989/24197869/14d305be-0f0c-11e7-8d99-21ee11782e37.png)

[2017-03-22 12:34] nuritgazit commented on #18
This issue is already done, I'm closing it

[2017-03-22 12:34] #18 closed

[2017-03-22 13:05] nuritgazit commented on #10
@TheGrandVizier Please hold. We are waiting for further instructions from the SEO company before we move on with this

[2017-03-26 11:53] ibanner opened #24 "Problems cloning this project"
@TheGrandVizier / @nirgoldberg - I'm having a really hard time cloning this project to my localhost. The files are OK but the DB on `test.bh.org.il` is huge and every attempt I make to import the DB ends up crashing. As most of the UI is built with ACF, the `wp_options` table is gigantic, the there's a specific row that brakes the process every time.

For obvious reasons I prefer not to push direc

[2017-03-26 12:06] nuritgazit commented on #24
thanks, @ibanner. @nirgoldberg will be here tomorrow and will look into it

[2017-03-26 12:10] nuritgazit opened #25 "Gift Card iFrame goes crazy"
ניר, משהו התחרבש ב iframe הזה (כלום לא השתנה מלבד הקישור שמפנה לעמוד: היה מההאדר ועכשיו מעמוד רכישת כרטיסים).
http://www.bh.org.il/he/gift-card/

FYI @TheGrandVizier @Libisch

[2017-03-26 12:14] nirgoldberg commented on #25
@Libisch, this page was edited and some values changed within the iframe.
Please copy and paste from test env. to live in order to restore it.

[2017-03-27 06:53] Libisch commented on #25
Copied and restored.

[2017-03-27 07:06] #25 closed

[2017-03-27 12:55] #22 closed

[2017-03-27 12:56] TheGrandVizier commented on #22
This issue was moved to Beit-Hatfutsot/wp-nobel#2

[2017-03-27 12:58] TheGrandVizier commented on #23
@nuritgazit @Libisch
Can you guys textually describe what you actually want here?

[2017-03-27 13:16] nuritgazit commented on #23
I want to separate between Exhibitions (all types of them - which are marked green in the print screen above) and Events (all types of them - which are marked blue) and to have 2 separated links - Exhibitions and Events in the header. Clearer?

[2017-04-12 07:44] nuritgazit commented on #10
Following the recommendations from the SEO company, and an internal discussion between @Libisch and me, we think the natural place for these pages is under the About of the each of the databases, [for example](http://dbs.bh.org.il/about/allResults).
We need to define the hierarchic structure of these pages, while taking into consideration the SEO recommendations we got from Sharon, then re-direct.

[2017-05-04 12:02] nirgoldberg opened #27 "Add both ALT and TITLE tags to images within template code"

[2017-05-24 13:15] TheGrandVizier opened #28 "Errors in certain pages (from SEO)"
SEO sent us a list of errors that require examination and hopefully fixing.
These are mostly 403s and 404s.

[דוח תקלות טכניות בית התפוצות מאי 2017.xlsx](https://github.com/Beit-Hatfutsot/wp-bh/files/1025590/2017.xlsx)

[2017-05-29 11:36] ibanner commented on #24
Already done (closing this issue).

[2017-05-29 11:36] #24 closed

[2017-06-01 05:59] ibanner commented on #19
@nirgoldberg I've stared putting the front-end together. As far as the back-end goes, I'm going to need to create a new CPT, along with some ACF to make the UX similar to how you manage content. Would you prefer I'd pack everything in a plugin, or integrate my code to the theme files?

[2017-06-01 06:37] nirgoldberg commented on #19
Hi @ibanner,
1. Please explain why you need to create a new CPT. As far as I understand the design, no CPT is needed here. In any case, I wouldn't prefer pack this in a plugin.
2. Absolutely not define a new image size, as it will influence all future media upload.

[2017-06-01 07:14] ibanner commented on #19
@nirgoldberg I believe you're going to need a way to document the donations, mainly if you wish to offer donors to set up an annual donation.

As I see it, there are 2 approaches here:

1. **Under WooCommerce:** Donations will be set up as a virtual product. That would include installing some WC extensions to support the requirements, e.g. [**Name Your Price**](https://woocommerce.com/products/nam

[2017-06-06 12:13] TheGrandVizier opened #29 "Some Hebrew pages do not have a navigation menu displayed"
Specifically, the following pages cause the navigation menu to disappear:

סדרות והשתלמויות
תוכנות חינוכיות
המחלקה לתוכניות צה"ל

Repro:
1. Arrive at www.bh.org.il, change language to hebrew.
2. Under the education section, nevigate to one of the pages listed above

Expected result:
Arrive at requested page like any other page.

Actual result:
User arrives at page but the navigation menu on the ri

[2017-06-20 10:19] TheGrandVizier opened #30 "Implement new design for shop catalogue"
TBD

[2017-07-03 11:43] TheGrandVizier opened #31 "SEO Improvements and fixes"
SEO guys sent us a list of things we need to fix, mostly broken links and images.
They are all listed in the attached excel sheet, broken down into the following categories:

- [x] Server Issues
- [x] Pages that return 404
- [x] Broken links to images

Prioritized as ordered above.

[Technical%20Issues%20July%202017.xlsx](https://github.com/Beit-Hatfutsot/wp-bh/files/1119367/Technical.20Issues.20J

[2017-07-18 13:30] #31 closed

[2017-07-19 10:37] TheGrandVizier opened #32 "Blog "More" Buttons are not needed, entire item should be clickable."
Currently, the Blogs items are only accessible by clicking a small button at the bottom of the item preview.
We want the entire preview field to be clickable and take the user into the post.
The button should be kept but obviously no longer function as a button, as the entire area it's in should now do the same thing the button did.

Similar to how items' previews are entirely clickable on the Wal

[2017-07-20 13:02] TheGrandVizier opened #33 "Redirect AFBH.US into main BH site."
http://www.afbh.us/
should lead to
http://www.bh.org.il/about-us/american-friends-beit-hatfutsot/

[2017-07-24 12:01] nirgoldberg commented on #27
Done for homepage images.
If there are more templates to handle, please open a new issue.

[2017-07-24 15:19] nirgoldberg commented on #29
The problem is related to Hebrew items which doesn't have corresponding original items in English.
In order to fix this, a significant development should be made as I'll have to modify the way the side menu is now generated.
Another solution is to make sure all items are generated as a translation of original English items.
Please let me know your decision.

[2017-07-24 15:21] nuritgazit commented on #29
What is the effort estimation on the second solution and who is doing it?

[2017-07-24 15:29] nirgoldberg commented on #29
The second solution is a content based solution, should be provided by Danna. Effort estimation is depending on how many items should be generated/removed from menu. I believe you two should discuss first.

[2017-07-25 06:59] nuritgazit commented on #29
@TheGrandVizier can you get a rough estimation from Danna without investigating too much?

[2017-07-25 08:37] nirgoldberg commented on #33
Done.

[2017-07-25 08:46] nuritgazit commented on #33
Ok, thanks.
@TheGrandVizier - please update and ask Gloria

[2017-07-31 09:32] TheGrandVizier commented on #33
Done

[2017-07-31 09:32] #33 closed

[2017-07-31 11:03] TheGrandVizier commented on #29
1. These pages are addressing hebrew speakers and have no purpose in english, so creating pages that have nothing in them is undesirable.

2. Danna says that there are changes planned for the whole "education" section, so it may not be a very good use of our time to fix this now, which is a good point i wasnt aware of.

Lets let this sit for now.

[2017-07-31 11:53] TheGrandVizier commented on #28
Now managed on Trello

[2017-07-31 11:53] #28 closed

[2017-07-31 13:45] nuritgazit opened #34 "Blog > blog should only show items under blog category"
In order to do so, we need to:
1. hide the menu of categories
2. Use the "blog" category as title
3. Change links to blog from all places to link to the "blog" category (footer, other?)

[2017-07-31 13:47] nuritgazit opened #35 "Blog > blog items should include writer's details"
In the bottom of each item, the details of the author should appear:
1. Name (+ links to all his items)
2. Image
3. Description

Solution should be via association of item to a writer, so that whoever submits the item can associate it with someone else

[2017-07-31 13:49] nuritgazit commented on #32
Correction: button, title, image and sub-text should all be a link

[2017-08-01 09:56] ibanner commented on #32
@nuritgazit May I suggest removing the button altogether? "Read More" links are an accessibility faux-pas.

[2017-08-01 11:06] nuritgazit commented on #32
@Netush please suggest your solution

[2017-08-01 12:06] Netush commented on #32
We can remove the Button but I would suggest that there should be some clear change on hover mode
(like zoom in on image or changing color of the title...).

[2017-08-01 12:12] ibanner commented on #19
Pull request made today #36 (pending review)

[2017-08-01 12:14] ibanner commented on #20
Pull request #26 still pending review :)

[2017-08-01 12:40] nuritgazit commented on #32
Your call, @Netush. Decide and define

[2017-08-01 13:22] Netush commented on #32
When hover on an image it's zoom in
& when hover on the text & title only the title change to grey color - 666666

[2017-08-07 12:50] TheGrandVizier opened #37 "Permissions system"
We need a permission systems that would lock away certain areas of the website to users of this new permission level.

For starters, this "limited user" should have the ability to read-only anything under the education section, including exporting and downloading images and other files.

This "limited user" should NOT be able to edit anything, anywhere.

[2017-08-10 09:55] nirgoldberg commented on #35
@nuritgazit, Shouldn't it be designed first by @Netush?

[2017-08-10 10:04] nuritgazit commented on #35
Only if there aren't ready-made solutions from other WP blogs, @nirgoldberg

[2017-08-10 10:08] nirgoldberg commented on #35
Of course there are, but I need at least instructions (structure, fonts, etc.) or reference to another box I should implement AS IS or with minor changes.

[2017-08-10 11:11] nuritgazit commented on #35
@nirgoldberg @Netush please go over a few of the existing solutions for WP and decide on one. What should guide you is minimum work for Nir.

[2017-08-16 09:03] #8 closed

[2017-08-16 09:04] #9 closed

[2017-08-16 09:04] #27 closed

[2017-08-20 11:02] nuritgazit opened #38 "Install LiveChat"
We want to test the livechat service in the main site, to help people find what they want, purchase tickets, get answers to questions, etc. It will be done by the people of the visitors' center.
In order to do that we need to add this code to each page of your website right before the closing </body> tag:

<script type="text/javascript">
window.__lc = window.__lc || {};
window.__lc.license = 90348

[2017-08-20 13:01] nirgoldberg commented on #38
Done in test

[2017-08-28 09:45] TheGrandVizier opened #39 "Sharing individual images (greeting cards) to facebook."
We want to have the ability to mark an image in the CMS as "sharable".
Images marked as such will be sharable by the user via normal facebook sharing tools.

This means that the shared psot will contain the URL like pertaining to this image.

[2017-08-29 14:23] nirgoldberg commented on #39
Done.
In order to mark an image as "shareable", you need to edit it and define within its preferences a custom class named "fb-share", that will add the Facebook share button above the image.
This solution is good for any image added within the content editor, for page, post, event, etc.

[2017-08-29 14:24] nirgoldberg commented on #20
Done.

[2017-08-31 14:07] TheGrandVizier commented on #39
@nirgoldberg  is it on test or on live?

[2017-08-31 14:13] TheGrandVizier commented on #39
Now with the new test setup, i am unable to reach the WP login.
get a 404.

[2017-09-03 10:11] nirgoldberg commented on #39
It's on live already.

[2017-09-06 11:04] TheGrandVizier opened #40 "Radio buttons on donations page - minor visual disturbance"
http://prntscr.com/ghpuil

The Radio button, when selected, has a little frame around it.
The way it is right now, this frame is misaligned in relation to the radio button int he aftermath of being selected.

This goes away once other elements are interacted with or if focus is changed to another tab.

[2017-09-06 13:42] TheGrandVizier opened #41 "Error handeling on donations for is not ideal."
http://prntscr.com/ght7y2

the little red mark seen in the picture above is the only indicator of what is wrong with the users input.

For other fields, there is not even that indicator.
If a mandatory field is left unfilled, user must find it manually.

[2017-09-06 13:47] TheGrandVizier opened #42 "Clicking "Back" from any phase of the donation page takes the user 2 pages back isntead of 1."
Reproduce:

1. Arrive at donations page and click "donate".
2. Select donation amount.
3. Proceed to details screen and fill out the details.
4. Click "Back".

Expected result:
1. Return to donation amount selection.

Actual result:
1. Return to main donation page.

Note:
Same logic applies for later or earlier stances.
BACK from Payment page will lead to amount selection instead of details, for e

[2017-09-06 13:54] TheGrandVizier opened #43 "ID field on donations page must be removed."
It is not common, on the internet and internationally, to request an ID number.
Some countries do not have such numbers.
In the states, no one will give you their social security number. It just doesnt work that way internationally.

The ID number field has to be removed.

[2017-09-06 13:56] TheGrandVizier opened #44 "Error handeling on donation form (payment)"
The errors on the donation form are not very appealing to the eye.
If possible, we should bring them in line with other visuals on our site.

Currently this is how it looks:
http://prntscr.com/ghteo9

Note that there are no indicators for which field is missing, visually, other than the content of the error.

[2017-09-06 13:59] TheGrandVizier opened #45 "Visual artifact after payment compelted."
The completion screen displays two navigation bars at the same time, once a transaction is completed:

http://prntscr.com/ghtgiy

This is highly confusing and must be removed.

[2017-09-06 14:02] TheGrandVizier opened #46 "Make navigation strip functional"
The navigation strip that indicates to the user where in the process he is should be functional and clickable to make it easier for a user to return to a previous phase and make adjustments.

Repro:
1. Start the process and arrive at payment phase.
2. Click on the navigation bar to go back to a previous page.

Expected:
1. User navigates to desired phase if that phase has already been completed.

[2017-09-06 15:25] ibanner opened #47 "Create dedicated iCount forms for Hebrew"
iCount form are bi-lingual but we need dedicated forms for Hebrew so that Hebrew donors will be redirected to the Hebrew "Thank You" page.

[2017-09-07 10:53] ibanner commented on #47
@TheGrandVizier Done.

[2017-09-07 10:53] #47 closed

[2017-09-07 11:05] ibanner commented on #43
@TheGrandVizier This field is part of the iCount form, we have no control over this. Actually there's some conditional login that displays the field - I'm not sure what exactly (I asked them why - I'll forward the answer once I get it).

Anyway I remind you that this module is aimed mainly for Israeli citizens with Israeli back accounts. The Americans are directed to the AFBH donation page.

Do yo

[2017-09-07 11:09] ibanner commented on #43
This just in (from icount):

[2017-09-07 11:16] TheGrandVizier commented on #43
זה לא עניין של לקפוץ.
הוא לא צריך להופיע מלחתכילה.
נתקלנו בבעיה הזאת בעבר והיא נפתרה.
@nirgoldberg
זוכר מה היה הפתרון?

@ibanner
תשאיר לי בבקשה את ההחלטה מתי האישיו סגור.

[2017-09-07 11:27] ibanner commented on #43
@TheGrandVizier I apologize - of course, I'll leave it to you to close the issues. I wasn't familiar with the way you run these things.

Anyway I've followed-up icount's answer with a question whether this is a required field for Israeli CCs.
If it isn't required, I can hide it with CSS. If it _is_ required, I can't see how we can do something about it.

[2017-09-07 11:29] TheGrandVizier commented on #43
Yes. I understand.
This is why i would prefer to wait for Nir's input on this as we have tackled this exact issue in the past.

[2017-09-07 11:38] ibanner commented on #42
@nirgoldberg As you advised me earlier, I've build the entire form on a single page, using JS to display/hide the different stages. I'm not aware of a way for me to "hijack" the browser's BACK button to trigger JS functions - and even if there is one, I'm not sure it's good UX. Please advise?

I could of course break the process to separate pages, but this will take some time.

[2017-09-07 11:40] nuritgazit commented on #42
breaking the pages isn't an option right now. This needs to be fixed otherwise, or we leave it as is for now

[2017-09-07 11:47] ibanner commented on #43
@TheGrandVizier @nirgoldberg icount says it's a required field for Israeli CCs and can't be removed:

[2017-09-07 11:50] nuritgazit commented on #43
It's ok, leave the field

[2017-09-07 11:53] TheGrandVizier commented on #42
If we make the nav bar clickable it would prevent a need to use the back
button to some extent.

On Sep 7, 2017 14:40, "Nurit" <notifications@github.com> wrote:

[2017-09-07 11:55] TheGrandVizier commented on #43
I dont care what they say because the fact is that field does not exist in
our other payment features, for example, store purchases.

There is no point making decisions on this before we have all the
information.
They can say its impossible all they want but the facts arent with them
here.

If we dont want to bother with it, thats another thing.

On Sep 7, 2017 14:50, "Nurit" <notifications@github

[2017-09-07 12:07] nuritgazit commented on #42
Right, but not now. First we launch

[2017-09-07 12:08] nuritgazit commented on #43
First we launch

[2017-09-07 18:34] ibanner commented on #45
@TheGrandVizier Fixed. please check?

[2017-09-07 20:49] ibanner commented on #41
@TheGrandVizier Which browser were you using? all the required fields are marked as such and supposed to have HTML5 validation messages when left blank. However I can see that the validation message that should appear over the terms & conditions checkbox isn't displayed properly. In the console I see some error message related to an event triggered on Facebook.

@nirgoldberg is there any global "o

[2017-09-10 10:15] TheGrandVizier opened #48 "Link website to our Google + page."
Our website should link to our Google + page, much like we link to our FB and YT pages.
@Netush
This will require an icon for this strip:
http://prntscr.com/gjcfb9

and i assume implementation is via WP, @nirgoldberg  or does this need development?

[2017-09-10 11:16] #39 closed

[2017-09-10 11:53] Netush commented on #48
lets do it right - change all the icons:
![iconshp2](https://user-images.githubusercontent.com/19781656/30248805-a20c95b4-9637-11e7-87ab-6047ba113608.png)

SVG Files you can find here:
https://www.dropbox.com/sh/8r5m3h10m0qoqxj/AAAMG7jVCEh-_VOhbDjl191-a?dl=0

Files:
Facebook1.svg
GooglePlus.svg
Instush.svg
TripAdvisor.svg
Twitter2.svg
YouTube.svg

[2017-09-10 12:08] TheGrandVizier opened #49 "Customize the email the user recieves from iCount upon donation completed"
The email a user receives after donating is currently the default produced by icount.
In theory, we can customize this email if we so desire.
Here is the stock, default text:

http://prntscr.com/gjdayp

[2017-09-10 12:09] TheGrandVizier commented on #49
@nuritgazit
is this something you'd be interested in?

[2017-09-10 12:22] nuritgazit commented on #49
Absolutely, Hagay should do it

[2017-09-10 12:38] TheGrandVizier opened #50 "Add missing financial PDFs to wordpress (Donations)"
The relevant documents need to be available on the WP.
At the moment we are missing the IRS Article 46 pdf and BH Annual report.

[2017-09-10 12:39] TheGrandVizier opened #51 "Donations by Check, Bank Transfer or Phone"
The texts for these pages are a bit simplistic and undesigned.
We should have proper texts and visuals on these "sub-pages".

[2017-09-10 13:26] TheGrandVizier opened #52 "Connect Donation Page links to relevant pages"
There are 4 links below the Donate button:

Volunteer
Join the Friends
Membership
Donate in honor or memory

issue under construction, WIP.

[2017-09-10 13:43] nuritgazit commented on #51
Agreed. This shouldn't postpone the launch, but it should be conveyed to Racheli, who is the customer here

[2017-09-10 16:10] ibanner commented on #41
@nirgoldberg I get this error in the console when I try to submit the form - any idea where this comes from?

![image](https://user-images.githubusercontent.com/4220832/30250692-961e9904-965b-11e7-9232-e1df6f7c6d61.png)

[2017-09-10 16:18] ibanner commented on #50
@TheGrandVizier The docs are in the shared folder on Google Drive. I'll put them on when I setup the module on production. This isn't a real issue, I think :)

[2017-09-10 16:20] ibanner commented on #49
@TheGrandVizier @nuritgazit If you send me the texts, I'll take care of the setup on iCount.

[2017-09-11 19:30] nirgoldberg commented on #34
Done

[2017-09-12 06:27] nuritgazit commented on #34
I don't see any changes on production or test

[2017-09-12 06:29] nirgoldberg commented on #34
They will appear soon...

[2017-09-12 09:27] ibanner commented on #40
@TheGrandVizier @nirgoldberg Fixed on my site. Please merge & re-check?

[2017-09-12 09:50] ibanner commented on #44
@TheGrandVizier Bearing in mind that we probably can only style the existing elements on this dialog, if you want to design it, I can add it to the custom CSS.

[2017-09-12 10:23] nuritgazit opened #53 "Connect test site to AdSense"
This is the code:

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-1490451667276102",
    enable_page_level_ads: true
  });
</script>

Paste it into the HTML of https://www.bh.org.il, between the <head> and </head> tags

[2017-09-12 10:36] nuritgazit commented on #44
@ibanner Not sure I understand how it would look before adding to CSS (I'm guessing some improvements can be done). If I'm right I would like to see how it looks before answering

[2017-09-12 11:06] ibanner commented on #44
@nuritgazit @TheGrandVizier I probably should have noted that unlike issue #41 , this issue relates to the billing form, which is built by icount. All we can to is add our own custom CSS to make it consistent with BH's design. That's what I did with the default form design, but what H.E @TheGrandVizier [saw here](http://prntscr.com/ghteo9) is a dialog box that we can also implement our CSS on - bu

[2017-09-12 11:12] nuritgazit opened #54 "Donation pages > subscribe to newsletter"
1. Subscription to newsletter should work
2. Subscription should be done by opting in, not out (shouldn't be checked by default)

[2017-09-12 11:21] ibanner commented on #54
@nuritgazit The code for this is 90% ready. What remains is only the connection with ActiveTrail's new API.

As discussed with @nirgoldberg, this will be temporary removed when we put this on Production and we'll address this ASAP.

[2017-09-12 12:09] TheGrandVizier opened #55 "Donate: "Other Sum" is not a mandatory field"
After selecting a custom (other) sum, a user is not required to input the amount he wishes to donate.
Nor is this field required to be full in order to proceed.
This causes a bug later in the flow:

http://prntscr.com/gk78g4

Reproduce:

1. Enter donation flow.
2. Select "other sum".
3. Leave the field blank
4. Click continue.

Expected:
1. User prevented from continuing without providing an amoun

[2017-09-12 12:10] TheGrandVizier opened #56 "Donate: Limit "other sum" to a reasonable number."
Currently, the input field for a custom sum can receive any numeric input.
Since donations above a certain size have their own venue, once such value is exceeded, the flow should be halted, stopped or terminated.

@nuritgazit  please provide the numbers and what should happen next.

[2017-09-12 12:18] nuritgazit commented on #56
Please ask Racheli

[2017-09-12 13:26] nirgoldberg commented on #13
Done for the following sites:
- bh.org.il (site + shop)
- bh.org.il/jewish-spotlight/austria
- bh.org.il/jewish-spotlight/fiume

Remaining sites:
- nobel.bh.org.il (issue Beit-Hatfutsot/wp-nobel#3)
- leoncharney.bh.org.il

[2017-09-13 12:59] nuritgazit commented on #13
@nirgoldberg what about http://spotlight.bh.org.il/czech/?

[2017-09-13 17:29] nirgoldberg commented on #13
Spotlight will be updated as well (I'll open a separate issue for each of the remaining sites).

[2017-09-17 12:24] #34 closed

[2017-09-17 12:26] #35 closed

[2017-09-17 12:26] TheGrandVizier commented on #19
Rest of treatment will be in specific issues.

[2017-09-17 12:26] #19 closed

[2017-09-17 12:28] #32 closed

[2017-09-17 12:30] TheGrandVizier commented on #29
Closing.
Will reopen if it becomes needed as a result of the education changes.

[2017-09-17 12:30] #29 closed

[2017-09-17 12:36] TheGrandVizier commented on #43
Upon further review i must concede the feature works as intended.

[2017-09-17 12:36] #43 closed

[2017-09-17 13:05] TheGrandVizier commented on #54
@ibanner do you need to address this or do you need nir for it?

[2017-09-17 13:12] ibanner commented on #54
@TheGrandVizier Whoever can give me the access info to the ActiveTrail API

[2017-09-17 13:14] TheGrandVizier commented on #54
Nir says you should look through the Git and find the thing he used to make the Newsletter registration thing work.
If you have any questions regarding this, email him directly. I am a bit out of the loop on the activetrail stuff.

[2017-09-17 13:18] ibanner commented on #54
@TheGrandVizier What I found in the current code is outdated. @nirgoldberg expect my email :)

[2017-09-18 08:51] TheGrandVizier commented on #56
I think this should be in relation to what is the biggest sum the terminal is allowed to collect.

[2017-09-18 09:59] TheGrandVizier commented on #56
@ibanner  can we determine what is the highest sum they will allow per transaction?

[2017-09-18 11:26] TheGrandVizier opened #58 "Restore the "Volunteers" page and connect to it the link from new Donate page."
We used to have a page for volunteering in the museum.
This page needs to be restored @nirgoldberg
and it needs to be connected to link / button on the new "Donate" page that says "Volunteer".

[2017-09-18 11:32] TheGrandVizier opened #59 "Donate: Connect "Join the AFBH" button to the AFBH page"
The link "Join the Friends of Beit Hatfutsot" should lead to the AFBH page on our site.
Currently it leads back to donate page.

http://test.bh.org.il/about-us/american-friends-beit-hatfutsot/

[2017-09-18 11:37] TheGrandVizier opened #60 "Connect "Donate" / "Support" button to new Donate page."
All links on the site leading to donations pages should be redirected to the new Donate page.
This includes the header in both languages.

[2017-09-18 11:47] TheGrandVizier opened #61 "Clicking Blog posts' author name leads user to home page"
When a user clicks an authors name in a blog post, the user is taken back to the site's main page and out of the blog.
The link should either lead to the bottom of the post where the "about author" section is, or to a dedicated page for it.

[2017-09-18 12:11] ibanner commented on #58
@nirgoldberg Please notify me when it's my turn :)

[2017-09-18 12:18] ibanner commented on #54
@TheGrandVizier I've asked icount, but I think they'll say that it depends on the terminal provider terms (Pelecard) - or even the CC companies themselves.

Anyway when you decide on a max sum you should also decide what happens when someone tries to enter a higher number.

[2017-09-18 12:18] ibanner commented on #56
@TheGrandVizier I've asked icount, but I think they'll say that it depends on the terminal provider terms (Pelecard) - or even the CC companies themselves.

Anyway when you decide on a max sum you should also decide what happens when someone tries to enter a higher number.

[2017-09-18 12:39] nuritgazit commented on #58
This is the restored page:
https://www.bh.org.il/about-us/volunteering/
https://www.bh.org.il/he/%D7%90%D7%95%D7%93%D7%95%D7%AA%D7%99%D7%A0%D7%95/%D7%94%D7%AA%D7%A0%D7%93%D7%91%D7%95%D7%AA-2/

@ibanner You are hereby notified

[2017-09-18 12:43] nuritgazit commented on #52
each page got an issue of its own, so closing

[2017-09-18 12:43] #52 closed

[2017-09-18 12:45] nuritgazit commented on #51
First thing, please fix the missing space under "by phone" tab

[2017-09-18 12:47] ibanner commented on #58
@TheGrandVizier DONE.

@nuritgazit Instead of saying "thanks, but no thanks" wouldn't it be better to tell people what sort of volunteer work is available from time to time, and ask them to leave their contact details? "Just a suggestion" as they say :)

[2017-09-18 12:49] nuritgazit commented on #58
Yes, we will improve the page, it's currently a placeholder.

[2017-09-18 12:50] ibanner commented on #50
@TheGrandVizier @nirgoldberg This is already done, but the link to one of the DOCs is not displayed properly; I fixed it in the nest pull request
https://github.com/Beit-Hatfutsot/wp-bh/pull/57

[2017-09-18 12:54] ibanner commented on #51
@nuritgazit You mean this?
![image](https://user-images.githubusercontent.com/4220832/30542873-a38ec738-9c89-11e7-980e-53cbc2ffab41.png)

[2017-09-18 12:56] nuritgazit commented on #51
yes, thanks

[2017-09-18 13:01] nuritgazit commented on #49
@hagayk please help with the text here, urgently

[2017-09-18 13:17] nuritgazit commented on #42
This is an urgent one, @ibanner

[2017-09-18 13:21] ibanner commented on #51
fixed in #57
(cc @nirgoldberg )

[2017-09-18 13:33] hagayk commented on #49
Donation Receipt

Beit Hatfutsot – Because you are Part of the Story!

We, at Beit Hatfutsot - Museum of the Jewish People, would like to thank you and welcome you into our family of friends. With your generous donation we can sponsor the likes of family tours, children’s classes tours and educational seminars and visits for groups of soldiers including transportation, lunch and educational semina

[2017-09-18 13:43] ibanner commented on #49
@nuritgazit Thanks. I need it in Hebrew too.

As suggested before, I think the copy should also:

1. State that this is a digitally signed receipt.
2. Mention that if you asked for a Tribute Certificate, it will be emailed to you in a few days (or whatever you want to promise there...)

[2017-09-18 14:06] hagayk commented on #49
Digitally Signed Donation Receipt

Beit Hatfutsot – Because you are Part of the Story!

We, at Beit Hatfutsot - Museum of the Jewish People, would like to thank you and welcome you into our family. With your generous donation we can sponsor the likes of family tours, children’s classes tours and educational seminars and visits for groups of soldiers. We couldn't do it without you!
Please note: If

[2017-09-18 14:14] hagayk commented on #49
קבלה חתומה דיגיטלית

בית התפוצות - כי אתם חלק מהסיפור!

אנחנו בבית התפוצות - מוזיאון העם היהודי, רוצים להודות לך מעומק הלב ולקבל אותך בזרועות פתוחות אל משפחתנו. בעזרת התרומה הנדיבה שלך, נוכל לממן פעילות מגוונות אצלנו במוזיאון כגון: סיורי משפחות, שיעורים וסדנאות לכיתות בית ספר וסמינרים חינוכיים לחיילי צה"ל ועולים חדשים. את כל זה לא היינו יכולים לעשות בלעדיך!

[2017-09-18 14:56] hagayk commented on #49
שימו לב: אם ביקשתם שנצרף תעודת הוקרה היא תישלח במייל תוך מספר ימים

[2017-09-19 13:48] nuritgazit commented on #53
Abort - please remove ASAP @nirgoldberg

[2017-09-19 13:54] nirgoldberg commented on #53
Done

[2017-09-19 13:58] #53 closed

[2017-09-24 12:41] ibanner commented on #40
Closing this, by order from @TheGrandVizier

[2017-09-24 12:41] #40 closed

[2017-09-24 12:46] ibanner commented on #51
@TheGrandVizier please consider assigning somebody from your content team for this, and reassigning me when you have new texts.

[2017-09-24 13:09] nuritgazit commented on #51
@hagayk please take it from here

[2017-09-24 16:47] ibanner commented on #49
Template setup completed on iCount.

[2017-09-24 16:47] #49 closed

[2017-09-25 09:32] TheGrandVizier commented on #51
@ibanner  it seems that these texts are not editable via the CMS.
Is there a particular reason? If not, could they be placed there?
It stands to reason thatt Hagay should be able to change these texts when he sees fit.

[2017-09-25 09:59] ibanner commented on #51
@nirgoldberg Correct. at the moment these are hardcoded text strings. If you prefer, I can add an interface for these under the Donation Settings.

[2017-09-25 10:00] TheGrandVizier commented on #51
Please do.
I will open a new issue for this.

On Sep 25, 2017 12:59, "Itay Banner" <notifications@github.com> wrote:

[2017-09-25 12:59] nuritgazit commented on #58
Looks like it's done, please approve and close, @TheGrandVizier

[2017-09-25 13:00] nuritgazit commented on #59
Looks like it's done, please approve and close, @TheGrandVizier

[2017-09-25 13:00] nuritgazit commented on #59
Looks like it's done, please approve and close, @TheGrandVizier

[2017-09-25 13:02] nuritgazit commented on #61
Looks like it's done, please approve and close, @TheGrandVizier

[2017-09-25 13:03] TheGrandVizier commented on #58
Confirmded.

[2017-09-25 13:03] #58 closed

[2017-09-25 13:32] #59 closed

[2017-09-25 14:28] TheGrandVizier commented on #61
I don't think so.
Still doesn't lead where it should.

[2017-09-26 06:34] nuritgazit opened #62 "Change to Upload a Gedcom page due to legal requests"
Please see all changes here:
https://drive.google.com/open?id=1ZKaGkjU8gFhDKkq_4IghshX4Jj-L2zEIfp0xhmH7Lro

Danna - your help is needed with texts

[2017-09-26 11:32] TheGrandVizier opened #63 "Events and exhibitions pages have an issue when viewed at 90% zoom or less."
**Repro**

1. Arrive at [Events](https://www.bh.org.il/events/) and / or [Exhibitions](https://www.bh.org.il/exhibitions/) page in either language.
2. Reduce zoom level to 90% (Ctrl+mouse scroll)

**Expected result:**

1. Page looks normal, at 90% zoom level.

**Actual result:**

1. http://prntscr.com/gpv05v

Notes:
The issue seems to originate from the size of the boxes marked in red in the scree

[2017-09-26 14:18] ibanner commented on #51
Text can now be entered via the admin under "Donation Options" > "Texts".

[2017-09-26 14:18] #51 closed

[2017-09-26 14:18] ibanner commented on #50
See previous comment.

[2017-09-26 14:18] #50 closed

[2017-09-26 14:31] ibanner commented on #45
Closing. see previous comment

[2017-09-26 14:31] #45 closed

[2017-09-27 08:30] ibanner commented on #55
@TheGrandVizier The "Continue" button will initially be disabled, and will be enabled only when a valid donation sum is selected or manually entered. Closing.

[2017-09-27 08:31] nuritgazit commented on #55
@ibanner please don't close issues, @TheGrandVizier will do it if he checks and confirms the issue is indeed closed. thanks!

[2017-09-27 08:41] ibanner commented on #55
@nuritgazit His excellency @TheGrandVizier instructed me to close issues I'm fixing. All my commits are pending review under the pull request - #57 .

[2017-09-27 10:56] ibanner commented on #56
Max sum per transaction is set in the contract you sign with the CC companies. Please either find out what it is or set an arbitrary one - and also define the UX/UI for this. Meanwhile there's nothing for me to do here... back to you, @TheGrandVizier...

[2017-09-27 10:57] ibanner commented on #54
@TheGrandVizier please re-assign to me when you have the details.

[2017-10-08 13:10] nirgoldberg opened #64 "301 redirects - remove redirects from author archives"

[2017-10-08 13:13] nirgoldberg opened #65 "Header new design"

[2017-10-08 13:14] nirgoldberg opened #66 "Header - new tab (Education) implementation"

[2017-10-19 09:15] #55 closed

[2017-10-19 09:15] TheGrandVizier commented on #55
@nuritgazit
Dont worry. We good.

[2017-10-25 08:21] ibanner opened #67 "Make AFBH donation link dynamic"
Following a call w/ @nuritgazit - the URL for the US donation should be dynamically retrieved from the Db (Set in "options" > "donations").

[2017-10-25 08:25] ibanner opened #68 "Display donation forms per language"
Following a call w/ @nuritgazit - display the AFBH donation form in an iframe by default in the English page. Hebrew page will show iCount's form.

[2017-11-22 09:33] ibanner opened #69 "Fix donation certificate task email"
- [x] Add custom field for setting recipient email dynamically
- [ ] Send the task email to the address stored on the Db.

[2017-11-22 10:29] ibanner commented on #69
Fixed, just pull in #57

[2017-11-22 10:29] #69 closed

[2017-11-22 10:53] TheGrandVizier commented on #69
@nirgoldberg
can we shove this in there for this release?

[2017-11-22 11:39] #60 closed

[2017-11-22 11:45] TheGrandVizier opened #70 "Add Donate button to new header"
The donate button should be added back to the new header on the main site and the Education site.
The shop does *not* need to have one.

The button should lead to the same pages it does on current live environment.

[2017-11-22 11:49] nuritgazit commented on #70
and in Hebrew
תרמו לנו

[2017-11-22 11:50] TheGrandVizier opened #71 "Stop auto-capitalizing entire titles in the Blog"
The blog titles do not require automatic all-caps.
Remove the all-caps feature and let the author of the article decide where and when to use caps in a sentence.

[2017-11-22 13:50] nirgoldberg commented on #70
Done

[2017-11-26 10:10] nuritgazit commented on #70
And in English: Donate (instead of Support Us)

[2017-11-26 10:12] nuritgazit commented on #38
Currently Marketing team can't handle this, to I'm closing.

[2017-11-26 10:12] #38 closed

[2017-11-26 10:18] nuritgazit commented on #14
@TheGrandVizier according to Nir, this is Done. Please approve and close if so

[2017-11-26 10:20] nuritgazit commented on #20
@TheGrandVizier Same here - I think this should be closed

[2017-11-26 11:50] nuritgazit opened #72 "Change our logo to the 40-70 logo"
On the 1/1/2018 the header in all sites (bh museum, DBs, shop, nobel, chezk, austria, rav-dori) to the new header with 70-40.
@Netush please add the new logo's location

[2017-11-26 13:31] Netush commented on #72
SVG & PNG Files you can find here:
https://www.dropbox.com/sh/3zka61lv8w8vfve/AADC0OLaxbt0puqYBQH7Lof8a?dl=0

BH-Logo4070-Heb-Update
BH-Logo4070-Eng-Update

[2017-11-26 13:37] nuritgazit commented on #13
@nirgoldberg @TheGrandVizier We are still missing the https for the noble winners site

[2017-11-26 14:33] nuritgazit opened #73 "Add Russian language"
In order for Alina and Danna to add Russian, we need to add the language to the test site. This way, they can start with translation to the interface

[2017-11-27 09:47] TheGrandVizier opened #74 "American donors should be redirected to Click & Pledge form (IP Based)"
When detecting a users IP is American, redirect the user to the click & pledge page, as opposed to normal iCount iframe.

When the user reaches this page:
https://bh.org.il/donate/secured-payment/
He should be taken to the american iframe based on IP detection.

[2017-11-27 09:51] ibanner commented on #74
That came up in my talks w/ @nuritgazit  but I'm afraid it won't work for us on the way back - unlike the iCount iframe (btw, not Pelecard) - the C&P page won't redirect after a successful transaction.

[2017-11-27 09:52] TheGrandVizier commented on #74
This is something i can live with.
If they gave us money, im not worried about losing them as a user / session

[2017-11-27 09:59] nuritgazit commented on #74
Agreed.

[2017-11-27 10:14] ibanner commented on #74
I also agree to the principle, of course. However, my point is that the current UX is quite closely tailored to the iCount iframe and API. The C&P API is different and we can't just "switch" gateways or iframe targets by IP.

I remind you that at the moment **we rely on the redirect** to trigger the donation certificate task email.

I proposed to make some changes in the UX to make it more generic

[2017-11-27 10:23] nuritgazit commented on #74
Not at the moment

[2017-11-27 10:30] ibanner commented on #74
@nuritgazit That's fine, of course. I'm just saying that switching to an alternative iframe target won't be enough.

[2017-11-27 11:41] #70 closed

[2017-11-27 14:19] TheGrandVizier commented on #61
This works for all users except "Beit Hatfusot", which still leads to the home page.

[2017-11-29 09:37] nuritgazit commented on #73
@TheGrandVizier what is the status here, I understand its done?

[2017-11-29 10:22] TheGrandVizier opened #75 "Install WP plugin for accessibility"
Install the free accessibility plugin that was mentioned.
We will see what it does and have a better idea of what is left.

[2017-11-29 10:36] TheGrandVizier opened #76 "Nobelist Site only displays 10 nobelists from recent years."
The Nobelist site does not return results for Nobelists prior and including the year 2001.
When using the slider filter, searching for individuals before 2001 produces no results.

Using the alphabitc filter also produces the same 10 individuals, nothing more.

[2017-11-29 10:47] nirgoldberg commented on #76
@TheGrandVizier, pls attach to https://github.com/Beit-Hatfutsot/wp-nobel

[2017-11-29 10:48] TheGrandVizier commented on #76
This issue was moved to Beit-Hatfutsot/wp-nobel#4

[2017-11-29 10:48] #76 closed

[2017-11-29 13:23] TheGrandVizier opened #77 "Temporary donation redirect via link"
We want to have a big and visible link / button for americans to click for tax deductible donations.

The link would lead here:
https://connect.clickandpledge.com/w/Form/8caebec3-d998-4ba5-83bc-a9d81a204d44?636427977193759593

[2017-11-29 14:10] #20 closed

[2017-11-29 14:11] #14 closed

[2017-11-29 14:23] TheGrandVizier commented on #56
@nuritgazit
Where can one find out about these contracts with CC companies?
Thisis not the first time they are mentioned. We need to know what we are dealing with.
This cannot be arbirtrary without shooting ourselves in the foot, i feel.

[2017-11-29 14:25] nirgoldberg commented on #66
Done

[2017-11-30 11:19] nuritgazit commented on #56
I send you again to Racheli and Anna - they are the clients here, we only provide online services. They have the agreement with CC companies. Other than the technical limit by CC companies, they are the ones who should say the threshold above which they want to be in touch with donors.

[2017-12-03 09:22] ibanner commented on #44
@TheGrandVizier  This should either be sent to design, or to the icebox...

[2017-12-03 09:29] ibanner commented on #77
@TheGrandVizier This is possible via the current interface, under options > donation. Please LMK if you need help finding this  setting.

[2017-12-03 09:38] ibanner commented on #46
Sorry, mea culpa :-/

[2017-12-04 12:54] TheGrandVizier opened #78 "Convert Registration form from PDF to web form"
This registration form:
https://www.bh.org.il/wp-content/uploads/friends-association-form-2018.pdf

Should be a web form / page on the website, rather than a downloadable document.

This should be doable using existing infrastructure and not require design.

[2017-12-04 14:00] TheGrandVizier commented on #78
@nuritgazit
Where should we pile up the inputs from this? The sent forms are sent... where?

[2017-12-05 07:18] nuritgazit commented on #78
To the same place they are sent today - the details are in the PDF form

[2017-12-05 08:57] ibanner commented on #78
@TheGrandVizier not sure that could fit in exactly as you describe it but I'll do by best.
However:

1. I'm getting a "403 forbidden" error from the link you attached, please send the file over if you have it
2. The current iCount forms direct the funds to BH's account (same as the shop) rather than the "Friends of BH" - is this OK?

[2017-12-06 07:59] ibanner commented on #65
The new header looks great - but I recommend setting the language switch to show the ALTERNATIVE language, rather than the active one. Don't you think?
![bh_flags](https://user-images.githubusercontent.com/4220832/33650778-17dee7e2-da6c-11e7-86ff-a0847849058e.PNG)

[2017-12-06 08:00] nuritgazit commented on #65
Agreed, can you handle it? @nirgoldberg are you ok with Itay changing it?

[2017-12-06 09:26] nuritgazit commented on #65
@ibanner Re changing languages - we will leave it as is, since we are going to have more languages soon. Perhaps later we will have a globes or a general icon for languages.
@nirgoldberg, please handle the directions in Hebrew header

[2017-12-06 09:28] nuritgazit commented on #72
@ibanner, please take this

[2017-12-06 09:29] nuritgazit commented on #71
@ibanner please take this

[2017-12-06 09:31] nuritgazit commented on #48
@ibanner and this. Please talk to Nir before on all SVG issues for instructions

[2017-12-11 11:17] ibanner commented on #67
Reopening - the page currently shows the default URL

[2017-12-11 11:27] ibanner commented on #67
#79 should fix this. closing again.

[2017-12-11 11:27] #67 closed

[2017-12-11 15:09] #66 closed

[2017-12-11 15:22] TheGrandVizier commented on #73
@dannapazprins
Please provide @nirgoldberg  with the names of the categories in Russian so he can start building the menus.

[2017-12-11 15:27] TheGrandVizier opened #80 "Blog: Recent itemsand archives should only display ites that are in the relevant category"
Each blog should only display recent posts and archives from itself and not across all blogs.

Currently, items from "news and events" end up in the Blogs recent posts navigation menu.

[2017-12-14 11:20] nuritgazit commented on #62
@ibanner please give your estimation for this task, thank you

[2017-12-14 11:21] nuritgazit commented on #54
@TheGrandVizier please give @ibanner ActiveTrail credentials

[2017-12-14 13:27] TheGrandVizier opened #81 "Blog Navigation menu should only display entries from the actual blog, not entire site."
The Blogs Navigation menu should only reflect things from the blog and not content from the entire site (exhibitions, events, etc).

[2017-12-14 13:30] TheGrandVizier opened #82 "Donations contacts should support multiple recipients."
The field for setting up a contact email for incoming donation certificate requests should support multiple addresses, preferably coma delimited.
Ex:
nikolai@bh.org.il, netam@bh.org.il, nurit@bh.org.il

[2017-12-14 13:50] #77 closed

[2017-12-17 07:49] nuritgazit opened #83 "Buy Tickets button should appear in header also in smallest screen size"
It seems that during the last header change, we have caused some damage.
Apparently, the previous header displayed the Buy Tickets buttons in some mobile screens, that now it does not show it. There are complaints and decrease in tickets purchase.

The solutions is to have the button in the header in all sizes. Suggestion:
![image](https://user-images.githubusercontent.com/19633598/34077549-6ff6b6

[2017-12-17 09:16] Netush commented on #83
![header](https://user-images.githubusercontent.com/19781656/34077944-82614100-e318-11e7-94b8-1348000be268.jpg)

[2017-12-17 09:22] nuritgazit commented on #83
Thanks, @Netush.
@nirgoldberg This is now your first priority.

[2017-12-17 10:33] TheGrandVizier opened #84 "Unable to click "update" after uploading a new version of a PDF (Donations)"
Reproduce:
1. Go to Options -> Donations
2. Scroll down to "Financial Documents"
3. Click the edit button on "Proper Management" PDF.
4. Drag and drop the new PDF.

Expected Result:
1. New PDF is uploaded and changes can be saved.

Actual Result:
1. The PDF is uploaded but the Update button becomes greyed out.

[2017-12-17 12:43] ibanner commented on #82
Fixed in PR #85

[2017-12-17 12:43] #82 closed

[2017-12-17 12:50] TheGrandVizier commented on #82
@nirg please push asap

[2017-12-18 08:51] nirgoldberg commented on #82
Done

[2017-12-18 09:00] nirgoldberg commented on #83
@nuritgazit, @Netush,
Is it for regular site only?
What about shop and education (As regards to shop, it could be a little bit problem in 320px because of the cart icon)

[2017-12-18 10:01] TheGrandVizier commented on #56
40,000 NIS
final.

[2017-12-18 10:01] nirgoldberg commented on #83
Done

[2017-12-18 10:11] #83 closed

[2017-12-18 10:16] TheGrandVizier commented on #54
done

[2017-12-18 10:28] TheGrandVizier commented on #44
@Netush  we need design

[2017-12-18 10:29] TheGrandVizier commented on #44
We need to maintain the layout but change the CSS.

[2017-12-18 11:18] ibanner commented on #72
Should these files just replace the existing ones? I mean, same sizes, same locations? If not, I'm going to need more specifications on this.

Also, can someone (@TheGrandVizier ?) please send me a screenshot of the Header/Footer options I need to set in order to view the Header properly? At the moment my local site displays no header at all.

[2017-12-18 11:33] TheGrandVizier commented on #72
No clue.
@nirgoldberg  maybe?

[2017-12-18 11:33] ibanner commented on #71
@TheGrandVizier I think I get that you want the blog post titles not to be displayed in uppercase (both in the blog archive page and the blog post itself, I presume).

What do you mean by "let the author of the article decide where and when to use caps in a sentence"? Which sentence would that be? I thought we're talking about the post title here, now? Do you really want to allow certain post titl

[2017-12-18 11:37] TheGrandVizier opened #86 "User that has registered to the newsletter should not receive additional requestes to sign up."
A user that has signed up to the newsletter should not receive additional requests to sign up in his future visits to the website from the same workstation, probably by use of a cookie.

[2017-12-18 11:41] ibanner commented on #62
@nuritgazit Is this under the `dbs.bh.org.il` site? if so, this site isn't powered by WordPress and therefore quite far from Kansas for me at this point.

[2017-12-18 11:45] TheGrandVizier commented on #71
The point is not to apply any changes to the title text.
If the author decides to capitalize every word, that's up to him. if he chooses to only capitalize at the beginning of a sentence, that is also up to him. Simply don't apply any global logic on titles.

[2017-12-18 11:45] TheGrandVizier commented on #62
This isn't on dbs.bh.org.il.

[2017-12-18 11:47] TheGrandVizier commented on #62
https://www.bh.org.il/databases/jewish-genealogy/send-us-family-tree/upload-gedcom-file/

[2017-12-18 12:06] nirgoldberg commented on #65
Done

[2017-12-18 12:07] TheGrandVizier commented on #65
Keeping open as reminder on education

On Dec 18, 2017 2:06 PM, "Nir Goldberg" <notifications@github.com> wrote:

[2017-12-18 12:10] nirgoldberg commented on #65
It's not necessary. It's a general issue for all tabs (will work automatically whenever BH will choose to activate the education tab)

[2017-12-20 14:29] nirgoldberg commented on #23
Done.

[2017-12-20 14:33] nuritgazit commented on #23
Great!
@nirgoldberg, can you change places between them, so that Exhibitions would appear first (most right in Hebrew and most left in English)?

[2017-12-20 16:24] ibanner commented on #62
In that case, no probs.

[2017-12-20 19:12] nirgoldberg commented on #23
Done.
@TheGrandVizier, please approve deployment to live env.

[2017-12-20 19:42] nirgoldberg commented on #72
@ibanner, let's talk about it next week.

[2018-01-03 10:33] TheGrandVizier opened #87 "Events and exhibitions not separated on static pages"
1.  Go [here](https://www.bh.org.il/exhibitions/past-exhibitions/) or [here](https://www.bh.org.il/exhibitions/new-core-exhibition/)
2.  On the left, Only Exhibitions should be visible in the navigation menu.

[2018-01-04 08:27] ibanner commented on #72
@nirgoldberg I thought I'd just upload these files to the SVGS directory, rename them to 'logo-en' and 'logo-he' and rename the current files to something temporary. Does that sound ok?

[2018-01-04 09:28] nirgoldberg commented on #72
There are few more things to do.
Let's do it online together.

[2018-01-04 10:15] ibanner commented on #72
Note to self: copy the new "viewbox" value to 'shape-logo-en.php' and 'shape-logo-he.php'

[2018-01-08 16:11] ibanner commented on #62
Implementing this will require 2 tasks:

1. Pulling the CSS changes I just pushed.
2. Updating the contact form code - [with the new code](https://gist.github.com/ibanner/a56872d1ab487dd105fc2461d4349a98). I've already updated on the test env. You'll have to do that later before deploying to production.

[2018-01-08 16:14] ibanner commented on #62
Ahem.... @TheGrandVizier - Were these changed also relevant to the Hebrew form? o_O

[2018-01-09 10:24] nuritgazit commented on #62
yes

[2018-01-10 12:04] ibanner commented on #62
Hebrew version sorted. When the style changes are pulled, you'll view the page properly.

[2018-01-21 13:55] ibanner commented on #42
@TheGrandVizier To my recollection, in our recent call we said that making the progress bar clickable (#46) will be a good enough solution. If so, this issue should be archived.

[2018-02-05 09:28] TheGrandVizier opened #89 "Add link to bh.org.il at fiume spotlight"
https://www.bh.org.il/jewish-spotlight/fiume/?page_id=1146

This page should have a link to bh.org.il

Add it at the center, bottom  of the page.

[2018-02-05 09:46] TheGrandVizier opened #90 "Re-Host the sites recieved from Beit Ashkenaz"
- [ ] Host http://germansynagogues.com/
- [ ] Host http://austriansynagogues.com/
- [ ] Host http://eastgermanysynagogues.com/

[2018-02-05 11:06] #23 closed

[2018-02-05 13:42] #56 closed

[2018-02-05 13:44] #72 closed

[2018-02-05 13:44] #71 closed

[2018-02-05 14:51] nirgoldberg commented on #75
Done at test env.

[2018-02-05 14:52] nirgoldberg commented on #73
Done at test env.

[2018-02-08 08:58] TheGrandVizier commented on #80
If this is something that can be done by @ibanner that would be preferable.

[2018-02-08 08:58] TheGrandVizier commented on #81
duplicate

[2018-02-08 08:58] #81 closed

[2018-02-08 09:01] TheGrandVizier commented on #78
@nuritgazit can you comment on the above? specifically #2

[2018-02-08 09:01] #75 closed

[2018-02-08 09:02] TheGrandVizier commented on #64
@nirgoldberg  can you explain what this is please?

[2018-02-08 09:02] #73 closed

[2018-02-08 09:02] #65 closed

[2018-02-27 16:15] nirgoldberg commented on #87
Done at test env.

[2018-03-12 08:41] #87 closed

[2018-03-12 08:42] TheGrandVizier commented on #62
@ibanner  top priority

[2018-03-12 10:17] TheGrandVizier opened #91 "Add date field to custom events"
When creating a custom event for the slider, there should be a date field (free text) under it, as requested by Danna.

[2018-03-12 15:10] nirgoldberg commented on #90
http://germansynagogues.com/ - done.
Waiting for Haim approval

[2018-03-14 09:12] TheGrandVizier opened #92 "Migrate all calls to Graph API v2.6 or higher"
This is from Facebook.
Needs to be done by April 12th.

[2018-03-14 10:48] #17 closed

[2018-03-14 10:50] TheGrandVizier opened #93 "Remove malicious links from Fiuma"
Fiuma has been hacked prior to being transfered to our posession and links to various online shops have been injected.

The injections must be removed for SEO purposes.

[2018-03-14 10:54] TheGrandVizier opened #94 "Upgrade Charney and Nobel infrastrcuture [URGENT]"
Charney will not work until the server has been updated, according to Nir.

[2018-03-20 09:28] nirgoldberg commented on #94
@TheGrandVizier,
Charney already done.
Let me know if it's all OK, and I'll remove the old server.

[2018-03-21 17:05] nirgoldberg commented on #94
Nobel is migrated as well.

[2018-03-22 14:51] TheGrandVizier opened #95 "Invetigate and Debug form issues on production"
This may or may not be related to gedcom.
It is also related to the custom payment form.
More information as it becomes available.

[2018-04-09 09:36] #94 closed

[2018-04-11 12:18] TheGrandVizier opened #96 "The logo on the website needs to be replaced to reflect the correct name of the museum."
Replace the logos with new ones sent by neta in en email.

[2018-04-11 15:29] nirgoldberg commented on #96
Done.

[2018-04-11 15:30] nirgoldberg commented on #95
Done.

[2018-04-15 13:04] TheGrandVizier opened #97 "Add accessibility plugin to Nobelist site"
The accessibility plugin we have on the main site should also exist on the nobelist site.
"Userway".

[2018-04-16 20:36] nirgoldberg commented on #80
Done

[2018-04-17 13:26] nirgoldberg commented on #64
Done

[2018-05-02 07:18] TheGrandVizier opened #98 "Humor redirect (SEO)"
אנא בצעו הפניית 301 מהכתובת הישנה של תערוכת הומור ("בקרוב"):

https://www.bh.org.il/he/event/%D7%91%D7%A7%D7%A8%D7%95%D7%91-%D7%95%D7%99%D7%94%D7%99-%D7%A6%D7%97%D7%95%D7%A7-%D7%94%D7%95%D7%9E%D7%95%D7%A8-%D7%99%D7%94%D7%95%D7%93%D7%99-%D7%9E%D7%A1%D7%91%D7%99%D7%91-%D7%9C%D7%A2%D7%95/

אל הכתובת החדשה:

https://www.bh.org.il/he/event/%D7%95%D7%99%D7%94%D7%99-%D7%A6%D7%97%D7%95%D7%A7-%D7%94%D7%95%

[2018-05-30 07:44] nirgoldberg commented on #98
Done

[2018-05-30 10:44] nirgoldberg commented on #91
Done

[2018-05-30 11:19] #91 closed

[2018-05-30 11:19] #98 closed

[2018-06-06 13:45] #86 closed

[2018-06-13 12:30] TheGrandVizier opened #99 "[CRITICAL] Error 403 (forbidden) when trying to navigate anywhere inside the site from a specific page."
Navigating anywhere in the site from this page:
https://www.bh.org.il/news-and-events/national-day-republic-slovenia-reception-exhibition-panel/
produces an error 403.

Easily reproduced by trying to change the language of the page.
There is no error when arriving a the page by regular navigation.

[2018-06-20 12:51] nirgoldberg commented on #99
Solved.
I've changed the post's link to exclude the term 'love' within it :)
I've also defined 301 rewrite to the new link (https://www.bh.org.il/news-and-events/national-day-republic-slvenia-reception-exhibition-panel/).

[2018-06-26 10:07] TheGrandVizier commented on #42
(for documentation purposes)

Negative. The back button taking a person 2 pages back is not something I can live with and as far as I am concerned is a major defect.

[2018-06-26 10:21] #99 closed

[2018-07-09 10:16] ibanner commented on #93
I'm guessing the code to be cleaned is here?
https://github.com/Beit-Hatfutsot/wp-jcf

Do you want to move the issue there?
@nirgoldberg Can you send me an SQL dump?

[2018-07-09 12:55] nirgoldberg commented on #97
Done

[2018-07-09 16:33] ibanner commented on #93
Waiting for instructions from @nirgoldberg on how you want me to deliver the clean content

[2018-07-09 16:43] ibanner commented on #89
@TheGrandVizier Would you like me to take care of this also, while I'm at it?

[2018-07-10 07:15] ibanner commented on #93
Clean content uploaded to Dropbox.

[2018-07-10 07:35] ibanner commented on #89
@TheGrandVizier Any particular design? Do you want it on the specific page or rather in the footer, across the site?

[2018-07-10 13:03] #89 closed

[2018-07-10 13:03] ibanner commented on #89
Issue moved to [Beit-Hatfutsot/wp-jcf #1](https://github.com/Beit-Hatfutsot/wp-jcf/issues/1) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-16 07:37] #97 closed

[2018-07-16 08:08] TheGrandVizier commented on #78
Here is the desired flow:

 בעמוד אגודת הידידים יתווסף כפתור חדש במקום כפתור (כחול) הורדת קובץ PDF "טופס הצטרפות להורדה".
הכפתור החדש יהיה ממוקם בחלק התחתון של העמוד מתחת ל : *בכפוף לנהלים ** חלק מעלות המנוי מהווה תרומה להבאת ילדים, משפחות, חיילים ועולים חדשים לפעילות חינוכית בבית התפוצות.
הכפתור יהיה מסוג תפריט בחירה (drop down menu). אפשריות בחירה בתפריט : סוג חברות מנוי זהב או חברות מנוי פרימיו

[2018-07-16 09:57] nirgoldberg commented on #93
Clean DB has imported.
@TheGrandVizier, please ask Sharon (SEO) to provide a re-scan.

[2018-07-17 08:20] TheGrandVizier commented on #93
Keeping open until rescan

[2018-07-23 13:14] TheGrandVizier opened #100 "Launch Education Section"
We want to launch the education section.

1. Utilize the Mosaic design and linkify it.
2. Unlock section to public.

[2018-08-02 14:07] TheGrandVizier opened #101 "Change language Switcher"
The language switcher on the main site needs to change visually and look like this:
https://projects.invisionapp.com/d/main#/console/14008200/300085215/preview

the languages should be represented by their 2-letter acronyms:
עב - עברית
En - אנגלית
Ру - רוסית

(שים לב שזה לא אותיות אנגליות פי וואי, אלה אותיות רוסיות שנראות דומה(

השפה המושמשת צריכה להיות מודגשת.

[2018-08-08 06:36] ibanner commented on #78
I copied this issue to:
https://github.com/Beit-Hatfutsot/wp-bh-themes/issues/2

And created pull request:
https://github.com/Beit-Hatfutsot/wp-bh-themes/pull/3

[2018-08-19 13:31] ibanner commented on #41
@TheGrandVizier I know there's an issue with the checkboxes (as the displayed element is not really the native checkbox control) - but can you please re-check if you still have validation issues on the "regular" fields (text and drop-downs)? My own testing showed that these fields display the browser's native validation tool-tips.

If I'm right, then all is left to do it so display a custom valida

[2018-08-26 12:56] TheGrandVizier opened #102 "Donation Payment details fields incorrect behavior"
Some of the fields in the hebrew donation flow are not behaving correctly:

The CVV field is expanded to full size when hovered over with the cursor:
![cvvfield](https://user-images.githubusercontent.com/15191989/44628412-fdc33100-a947-11e8-9bd3-3ae5e4dbc7c7.png)

On Mouseover, the card holder name and Validity fields reposition the text very slightly but this is very unpretty but secondary in imp

[2018-09-05 07:34] TheGrandVizier opened #103 "Implement RSS and blog subscription module"
We would like both RSS and a subscription to notifications for the blog.
It will be implemented int he form of an iput field in which the usr will enter his email and click "subscribe".
Next to it will be an unsubscribe button and an RSS icon.

It should be implemented in the sidebar, but only in the blog.

[2018-09-05 10:14] #93 closed

[2018-09-06 12:43] nirgoldberg commented on #103
Done.

[2018-09-06 12:44] nirgoldberg commented on #101
Done.

[2018-09-12 10:37] TheGrandVizier opened #104 "subscribe and unsubscribing from blog notification always takes user to hebrew site"
When a user uses the english interface to subscribe to the blog notifications, they will be taken to a hebrew confirmation page.

They *should* be taken to a page based on the language they previously used.

[2018-09-12 14:02] TheGrandVizier opened #105 "Blog subscription error handeling"
The error handling of the the blog subscription module is not ideal.

When the user is already registered -

Right now:
http://prntscr.com/ktkl42

Desired:
"You are already registered for notifications from our blog".

[2018-09-12 14:03] TheGrandVizier opened #106 "Blog subscription navigates to wrong language comfirmation page"
The blog subscription module, when used in either language, will result in the user being taken to a screen with a hebrew interface.

The user should be taken to an english page if he came from an english page.

[2018-09-12 14:33] TheGrandVizier opened #107 "Education site - side navigation is not displaying all parents and children"
The education side navigation bar does not display the parents and children.
Instead, it only displays the single item which the user is viewing.

http://prntscr.com/ktl1xn

[2018-09-25 13:54] nirgoldberg commented on #107
Fixed

[2018-09-25 13:56] nirgoldberg commented on #100
Done.

[2018-10-02 14:35] #107 closed

[2018-10-03 08:17] #103 closed

[2018-10-03 08:17] #101 closed

[2018-10-03 08:17] #100 closed

[2018-10-09 09:49] nirgoldberg commented on #90
Done.
http://germansynagogues.bh.org.il
http://austriansynagogues.bh.org.il
http://eastgermanysynagogues.bh.org.il

[2018-10-18 13:01] #21 closed

[2018-11-01 09:37] nuritgazit opened #108 "Subscribe to newsletter pop-up should appear also in Russian site"

[2018-12-04 14:07] nuritgazit commented on #62
@TheGrandVizier where are we standing with this?

[2018-12-04 14:11] nuritgazit commented on #74
Closed because this is too complicated a development. We will add a link in the AFBH page to our English donation page for those who wants to donate in an English interface, and are also from outside USA

[2018-12-04 14:11] #74 closed

[2018-12-04 14:13] nuritgazit commented on #63
@TheGrandVizier - is this bug still relevant? It looks fine on my computer

[2018-12-04 14:13] #30 closed

[2018-12-04 14:18] TheGrandVizier commented on #62
My last communique with nir was me asking to know when its deployed to
production. This never happened.
If it was deployed, i was not informed.

On Tue, Dec 4, 2018, 16:07 Nurit <notifications@github.com wrote:

[2018-12-04 14:19] TheGrandVizier commented on #63
Happens on browsers we deem unsupported.

On Tue, Dec 4, 2018, 16:13 Nurit <notifications@github.com wrote:

[2018-12-05 10:01] #63 closed

[2018-12-05 11:17] #15 closed

[2018-12-05 11:18] #108 closed

[2018-12-05 11:35] #13 closed

[2018-12-23 09:54] TheGrandVizier opened #109 "Donations Epic"